


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."calculate_age"("birth_date" "date") RETURNS integer
    LANGUAGE "plpgsql" IMMUTABLE
    AS $$
BEGIN
  RETURN EXTRACT(YEAR FROM AGE(birth_date))::INTEGER;
END;
$$;


ALTER FUNCTION "public"."calculate_age"("birth_date" "date") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."clean_phone_number"("phone" "text") RETURNS "text"
    LANGUAGE "plpgsql" IMMUTABLE
    AS $$
BEGIN
  -- Remove spaces, dashes, parentheses
  RETURN REGEXP_REPLACE(phone, '[^0-9+]', '', 'g');
END;
$$;


ALTER FUNCTION "public"."clean_phone_number"("phone" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."cleanup_old_audit_logs"() RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  deleted_count INTEGER;
BEGIN
  DELETE FROM audit_logs
  WHERE created_at < NOW() - INTERVAL '6 months';
  
  GET DIAGNOSTICS deleted_count = ROW_COUNT;
  RETURN deleted_count;
END;
$$;


ALTER FUNCTION "public"."cleanup_old_audit_logs"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."cleanup_old_notifications"() RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  deleted_count INTEGER;
BEGIN
  DELETE FROM notifications
  WHERE created_at < NOW() - INTERVAL '30 days' AND is_read = true;
  
  GET DIAGNOSTICS deleted_count = ROW_COUNT;
  RETURN deleted_count;
END;
$$;


ALTER FUNCTION "public"."cleanup_old_notifications"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_title" "text", "p_message" "text", "p_type" "text" DEFAULT 'info'::"text", "p_action_url" "text" DEFAULT NULL::"text") RETURNS "uuid"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  notification_id UUID;
BEGIN
  INSERT INTO notifications (user_id, title, message, type, action_url)
  VALUES (p_user_id, p_title, p_message, p_type, p_action_url)
  RETURNING id INTO notification_id;
  
  RETURN notification_id;
END;
$$;


ALTER FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_title" "text", "p_message" "text", "p_type" "text", "p_action_url" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."format_phone_number"("phone" "text") RETURNS "text"
    LANGUAGE "plpgsql" IMMUTABLE
    AS $$
DECLARE
  cleaned TEXT;
BEGIN
  cleaned := clean_phone_number(phone);
  
  -- Format as 0917-123-4567
  IF LENGTH(cleaned) = 11 AND cleaned LIKE '09%' THEN
    RETURN SUBSTRING(cleaned FROM 1 FOR 4) || '-' || 
           SUBSTRING(cleaned FROM 5 FOR 3) || '-' || 
           SUBSTRING(cleaned FROM 8);
  END IF;
  
  RETURN phone;
END;
$$;


ALTER FUNCTION "public"."format_phone_number"("phone" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_qr_data"("resident_uuid" "uuid") RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN 'QR-RESIDENT-' || UPPER(SUBSTRING(resident_uuid::TEXT FROM 1 FOR 8)) || '-' || EXTRACT(EPOCH FROM NOW())::BIGINT;
END;
$$;


ALTER FUNCTION "public"."generate_qr_data"("resident_uuid" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_dashboard_stats"() RETURNS TABLE("total_residents" bigint, "total_voters" bigint, "total_pwd" bigint, "total_seniors" bigint, "pending_requests" bigint, "approved_today" bigint, "completed_this_month" bigint)
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    COUNT(*) AS total_residents,
    COUNT(*) FILTER (WHERE voter_status = true) AS total_voters,
    COUNT(*) FILTER (WHERE pwd_status = true) AS total_pwd,
    COUNT(*) FILTER (WHERE senior_citizen = true) AS total_seniors,
    (SELECT COUNT(*) FROM document_requests WHERE status = 'pending') AS pending_requests,
    (SELECT COUNT(*) FROM document_requests 
     WHERE status = 'approved' 
     AND DATE(processed_at) = CURRENT_DATE) AS approved_today,
    (SELECT COUNT(*) FROM document_requests 
     WHERE status = 'completed' 
     AND DATE_TRUNC('month', created_at) = DATE_TRUNC('month', CURRENT_DATE)) AS completed_this_month
  FROM residents;
END;
$$;


ALTER FUNCTION "public"."get_dashboard_stats"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_demographics"() RETURNS TABLE("category" "text", "male_count" bigint, "female_count" bigint, "total_count" bigint)
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN QUERY
  -- Age groups
  SELECT 
    'Age 0-17 (Minor)' AS category,
    COUNT(*) FILTER (WHERE gender = 'Male' AND EXTRACT(YEAR FROM AGE(date_of_birth)) < 18) AS male_count,
    COUNT(*) FILTER (WHERE gender = 'Female' AND EXTRACT(YEAR FROM AGE(date_of_birth)) < 18) AS female_count,
    COUNT(*) FILTER (WHERE EXTRACT(YEAR FROM AGE(date_of_birth)) < 18) AS total_count
  FROM residents
  UNION ALL
  SELECT 
    'Age 18-59 (Adult)' AS category,
    COUNT(*) FILTER (WHERE gender = 'Male' AND EXTRACT(YEAR FROM AGE(date_of_birth)) BETWEEN 18 AND 59),
    COUNT(*) FILTER (WHERE gender = 'Female' AND EXTRACT(YEAR FROM AGE(date_of_birth)) BETWEEN 18 AND 59),
    COUNT(*) FILTER (WHERE EXTRACT(YEAR FROM AGE(date_of_birth)) BETWEEN 18 AND 59)
  FROM residents
  UNION ALL
  SELECT 
    'Age 60+ (Senior)' AS category,
    COUNT(*) FILTER (WHERE gender = 'Male' AND EXTRACT(YEAR FROM AGE(date_of_birth)) >= 60),
    COUNT(*) FILTER (WHERE gender = 'Female' AND EXTRACT(YEAR FROM AGE(date_of_birth)) >= 60),
    COUNT(*) FILTER (WHERE EXTRACT(YEAR FROM AGE(date_of_birth)) >= 60)
  FROM residents
  UNION ALL
  -- Civil status
  SELECT 
    'Single' AS category,
    COUNT(*) FILTER (WHERE gender = 'Male' AND civil_status = 'Single'),
    COUNT(*) FILTER (WHERE gender = 'Female' AND civil_status = 'Single'),
    COUNT(*) FILTER (WHERE civil_status = 'Single')
  FROM residents
  UNION ALL
  SELECT 
    'Married' AS category,
    COUNT(*) FILTER (WHERE gender = 'Male' AND civil_status = 'Married'),
    COUNT(*) FILTER (WHERE gender = 'Female' AND civil_status = 'Married'),
    COUNT(*) FILTER (WHERE civil_status = 'Married')
  FROM residents;
END;
$$;


ALTER FUNCTION "public"."get_demographics"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_full_address"("p_house_number" "text", "p_street" "text", "p_purok" "text", "p_barangay" "text", "p_city_municipality" "text", "p_province" "text", "p_zip_code" "text") RETURNS "text"
    LANGUAGE "plpgsql" IMMUTABLE
    AS $$
BEGIN
  RETURN TRIM(CONCAT_WS(', ',
    NULLIF(p_house_number, ''),
    p_street,
    CASE WHEN p_purok IS NOT NULL THEN 'Purok ' || p_purok END,
    p_barangay,
    p_city_municipality,
    p_province,
    p_zip_code
  ));
END;
$$;


ALTER FUNCTION "public"."get_full_address"("p_house_number" "text", "p_street" "text", "p_purok" "text", "p_barangay" "text", "p_city_municipality" "text", "p_province" "text", "p_zip_code" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_full_name"("p_first_name" "text", "p_middle_name" "text", "p_last_name" "text", "p_suffix" "text") RETURNS "text"
    LANGUAGE "plpgsql" IMMUTABLE
    AS $$
BEGIN
  RETURN TRIM(CONCAT_WS(' ', p_first_name, p_middle_name, p_last_name, p_suffix));
END;
$$;


ALTER FUNCTION "public"."get_full_name"("p_first_name" "text", "p_middle_name" "text", "p_last_name" "text", "p_suffix" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_monthly_stats"("p_year" integer, "p_month" integer) RETURNS TABLE("request_type" "text", "total_count" bigint, "pending_count" bigint, "approved_count" bigint, "completed_count" bigint)
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    dr.request_type,
    COUNT(*) AS total_count,
    COUNT(*) FILTER (WHERE dr.status = 'pending') AS pending_count,
    COUNT(*) FILTER (WHERE dr.status = 'approved') AS approved_count,
    COUNT(*) FILTER (WHERE dr.status = 'completed') AS completed_count
  FROM document_requests dr
  WHERE 
    EXTRACT(YEAR FROM dr.created_at) = p_year
    AND EXTRACT(MONTH FROM dr.created_at) = p_month
  GROUP BY dr.request_type
  ORDER BY total_count DESC;
END;
$$;


ALTER FUNCTION "public"."get_monthly_stats"("p_year" integer, "p_month" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_pending_requests_count"() RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN (SELECT COUNT(*) FROM document_requests WHERE status = 'pending')::INTEGER;
END;
$$;


ALTER FUNCTION "public"."get_pending_requests_count"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_requests_by_status"("p_status" "text") RETURNS TABLE("id" "uuid", "request_type" "text", "resident_name" "text", "purpose" "text", "status" "text", "created_at" timestamp without time zone, "mobile_number" "text")
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    dr.id,
    dr.request_type,
    CONCAT_WS(' ', r.first_name, r.middle_name, r.last_name) AS resident_name,
    dr.purpose,
    dr.status,
    dr.created_at,
    r.mobile_number
  FROM document_requests dr
  JOIN residents r ON dr.resident_id = r.id
  WHERE dr.status = p_status
  ORDER BY dr.created_at DESC;
END;
$$;


ALTER FUNCTION "public"."get_requests_by_status"("p_status" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_resident_by_qr"("qr_data" "text") RETURNS TABLE("id" "uuid", "full_name" "text", "first_name" "text", "middle_name" "text", "last_name" "text", "suffix" "text", "date_of_birth" "date", "age" integer, "gender" "text", "civil_status" "text", "mobile_number" "text", "email" "text", "full_address" "text", "qr_code_data" "text")
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    r.id,
    CONCAT_WS(' ', r.first_name, r.middle_name, r.last_name, r.suffix) AS full_name,
    r.first_name,
    r.middle_name,
    r.last_name,
    r.suffix,
    r.date_of_birth,
    EXTRACT(YEAR FROM AGE(r.date_of_birth))::INTEGER AS age,
    r.gender,
    r.civil_status,
    r.mobile_number,
    r.email,
    CONCAT_WS(', ', r.street, r.barangay, r.city_municipality, r.province) AS full_address,
    r.qr_code_data
  FROM residents r
  WHERE r.qr_code_data = qr_data;
END;
$$;


ALTER FUNCTION "public"."get_resident_by_qr"("qr_data" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_user_role"() RETURNS "text"
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT role FROM users WHERE id::text = auth.uid()::text;
$$;


ALTER FUNCTION "public"."get_user_role"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin"() RETURNS boolean
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM users 
    WHERE id::text = auth.uid()::text 
    AND role = 'admin'
  );
$$;


ALTER FUNCTION "public"."is_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin_or_clerk"() RETURNS boolean
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM users 
    WHERE id::text = auth.uid()::text 
    AND role IN ('admin', 'clerk')
  );
$$;


ALTER FUNCTION "public"."is_admin_or_clerk"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin_or_record_keeper"() RETURNS boolean
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM users 
    WHERE id::text = auth.uid()::text 
    AND role IN ('admin', 'record_keeper')
  );
$$;


ALTER FUNCTION "public"."is_admin_or_record_keeper"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."log_activity"("p_user_id" "uuid", "p_action" "text", "p_table_name" "text", "p_record_id" "uuid" DEFAULT NULL::"uuid", "p_details" "jsonb" DEFAULT NULL::"jsonb") RETURNS "uuid"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  log_id UUID;
BEGIN
  INSERT INTO audit_logs (user_id, action, table_name, record_id, details)
  VALUES (p_user_id, p_action, p_table_name, p_record_id, p_details)
  RETURNING id INTO log_id;
  
  RETURN log_id;
END;
$$;


ALTER FUNCTION "public"."log_activity"("p_user_id" "uuid", "p_action" "text", "p_table_name" "text", "p_record_id" "uuid", "p_details" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."mark_notifications_read"("p_user_id" "uuid") RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  updated_count INTEGER;
BEGIN
  UPDATE notifications
  SET is_read = true
  WHERE user_id = p_user_id AND is_read = false;
  
  GET DIAGNOSTICS updated_count = ROW_COUNT;
  RETURN updated_count;
END;
$$;


ALTER FUNCTION "public"."mark_notifications_read"("p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."search_residents"("search_query" "text") RETURNS TABLE("id" "uuid", "full_name" "text", "age" integer, "gender" "text", "address" "text", "mobile_number" "text", "voter_status" boolean, "pwd_status" boolean, "senior_citizen" boolean)
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    r.id,
    CONCAT_WS(' ', r.first_name, r.middle_name, r.last_name, r.suffix) AS full_name,
    EXTRACT(YEAR FROM AGE(r.date_of_birth))::INTEGER AS age,
    r.gender,
    CONCAT_WS(', ', r.street, r.barangay) AS address,
    r.mobile_number,
    r.voter_status,
    r.pwd_status,
    r.senior_citizen
  FROM residents r
  WHERE 
    LOWER(CONCAT_WS(' ', r.first_name, r.middle_name, r.last_name)) LIKE LOWER('%' || search_query || '%')
    OR LOWER(r.street) LIKE LOWER('%' || search_query || '%')
    OR LOWER(r.barangay) LIKE LOWER('%' || search_query || '%')
    OR r.mobile_number LIKE '%' || search_query || '%'
  ORDER BY r.last_name, r.first_name;
END;
$$;


ALTER FUNCTION "public"."search_residents"("search_query" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_request_status"("p_request_id" "uuid", "p_new_status" "text", "p_user_id" "uuid", "p_notes" "text" DEFAULT NULL::"text") RETURNS boolean
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  UPDATE document_requests
  SET 
    status = p_new_status,
    processed_by = p_user_id,
    processed_at = CASE WHEN p_new_status IN ('approved', 'rejected') THEN NOW() END,
    processing_notes = COALESCE(p_notes, processing_notes),
    released_by = CASE WHEN p_new_status = 'released' THEN p_user_id END,
    released_at = CASE WHEN p_new_status = 'released' THEN NOW() END
  WHERE id = p_request_id;
  
  RETURN FOUND;
END;
$$;


ALTER FUNCTION "public"."update_request_status"("p_request_id" "uuid", "p_new_status" "text", "p_user_id" "uuid", "p_notes" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."verify_gateway_pin"("input_pin" "text") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 FROM public.system_configs 
    WHERE key = 'staff_access_code' AND value = input_pin
  );
END;
$$;


ALTER FUNCTION "public"."verify_gateway_pin"("input_pin" "text") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."residents" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "first_name" "text" NOT NULL,
    "middle_name" "text",
    "last_name" "text" NOT NULL,
    "suffix" "text",
    "date_of_birth" "date" NOT NULL,
    "place_of_birth" "text",
    "gender" "text" NOT NULL,
    "civil_status" "text" NOT NULL,
    "nationality" "text" DEFAULT 'Filipino'::"text",
    "house_number" "text",
    "street" "text",
    "purok" "text",
    "barangay" "text" NOT NULL,
    "city_municipality" "text" NOT NULL,
    "province" "text" NOT NULL,
    "zip_code" "text",
    "mobile_number" "text",
    "email" "text",
    "occupation" "text",
    "monthly_income" numeric(10,2),
    "voter_status" boolean DEFAULT false,
    "pwd_status" boolean DEFAULT false,
    "senior_citizen" boolean DEFAULT false,
    "qr_code_data" "text",
    "qr_code_url" "text",
    "created_by" "uuid",
    "updated_by" "uuid",
    "created_at" timestamp without time zone DEFAULT "now"(),
    "updated_at" timestamp without time zone DEFAULT "now"(),
    "photo_url" "text",
    "full_address" "text",
    "residency_start_date" "date",
    "religion" "text",
    "blood_type" "text",
    "educational_attainment" "text",
    "father_name" "text",
    "father_deceased" boolean DEFAULT false,
    "father_occupation" "text",
    "father_phone_number" "text",
    "father_birthdate" "date",
    "father_age" integer,
    "father_address" "text",
    "father_religion" "text",
    "father_blood_type" "text",
    "father_nationality" "text",
    "father_civil_status" "text",
    "mother_name" "text",
    "mother_deceased" boolean DEFAULT false,
    "mother_occupation" "text",
    "mother_phone_number" "text",
    "mother_birthdate" "date",
    "mother_age" integer,
    "mother_address" "text",
    "mother_religion" "text",
    "mother_blood_type" "text",
    "mother_nationality" "text",
    "mother_civil_status" "text",
    "spouse_name" "text",
    "spouse_occupation" "text",
    "number_of_children" integer,
    "guardian_name" "text",
    "guardian_relationship" "text",
    "emergency_contact_name" "text",
    "emergency_contact_number" "text",
    "qr_sent_at" timestamp with time zone,
    "spouse_birthdate" "date",
    "spouse_age" integer,
    "father_first_name" "text",
    "father_middle_name" "text",
    "father_last_name" "text",
    "father_suffix" "text",
    "mother_first_name" "text",
    "mother_middle_name" "text",
    "mother_last_name" "text",
    "mother_suffix" "text",
    "proof_of_residency_url" "text",
    "valid_id_url" "text",
    "other_id_status" boolean DEFAULT false,
    "residency_type" "text" DEFAULT 'Permanent'::"text",
    "status" "text" DEFAULT 'active'::"text",
    "account_status" "text" DEFAULT 'Pending'::"text",
    "id_image_url" "text",
    "password" "text",
    "needs_password_change" boolean DEFAULT true,
    "password_hash" "text",
    "liveness_image_url" "text",
    "id_type" "text",
    "id_image_back_url" "text",
    "is_verified" boolean DEFAULT false,
    CONSTRAINT "residents_civil_status_check" CHECK (("civil_status" = ANY (ARRAY['Single'::"text", 'Married'::"text", 'Widowed'::"text", 'Separated'::"text", 'Divorced'::"text"]))),
    CONSTRAINT "residents_gender_check" CHECK (("gender" = ANY (ARRAY['Male'::"text", 'Female'::"text"])))
);


ALTER TABLE "public"."residents" OWNER TO "postgres";


COMMENT ON TABLE "public"."residents" IS 'Barangay residents information and QR codes';



CREATE OR REPLACE VIEW "public"."active_residents_view" AS
 SELECT "id",
    "concat_ws"(' '::"text", "first_name", "middle_name", "last_name", "suffix") AS "full_name",
    "first_name",
    "middle_name",
    "last_name",
    "suffix",
    "date_of_birth",
    EXTRACT(year FROM "age"(("date_of_birth")::timestamp with time zone)) AS "age",
    "gender",
    "civil_status",
    "concat_ws"(', '::"text", "street", "barangay", "city_municipality", "province") AS "full_address",
    "mobile_number",
    "email",
    "voter_status",
    "pwd_status",
    "senior_citizen",
    "qr_code_data",
    "created_at"
   FROM "public"."residents"
  ORDER BY "last_name", "first_name";


ALTER VIEW "public"."active_residents_view" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."announcement_likes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "announcement_id" "uuid",
    "resident_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"())
);


ALTER TABLE "public"."announcement_likes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."announcements" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "title" "text" NOT NULL,
    "content" "text" NOT NULL,
    "type" "text" DEFAULT 'Info'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "created_by" "uuid",
    "image_url" "text",
    "is_pinned" boolean DEFAULT false,
    "expiration_date" "date",
    "target_purok" "text" DEFAULT 'All'::"text"
);


ALTER TABLE "public"."announcements" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."audit_logs" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid",
    "action" "text" NOT NULL,
    "table_name" "text",
    "record_id" "uuid",
    "old_values" "jsonb",
    "new_values" "jsonb",
    "ip_address" "text",
    "user_agent" "text",
    "details" "jsonb",
    "created_at" timestamp without time zone DEFAULT "now"()
);


ALTER TABLE "public"."audit_logs" OWNER TO "postgres";


COMMENT ON TABLE "public"."audit_logs" IS 'Comprehensive audit trail for all system actions';



CREATE TABLE IF NOT EXISTS "public"."blocked_devices" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "device_name" "text",
    "ip_address" "text",
    "user_id" "uuid",
    "blocked_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."blocked_devices" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."blotter_records" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "case_number" "text" NOT NULL,
    "complainant_name" "text" NOT NULL,
    "respondent_name" "text" NOT NULL,
    "incident_type" "text" NOT NULL,
    "incident_date" timestamp with time zone NOT NULL,
    "narrative" "text",
    "status" "text" DEFAULT 'Active'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()),
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()),
    "evidence_url" "text",
    "complainant_id" "uuid",
    "location" "text",
    "report_type" "text" DEFAULT 'Incident'::"text",
    "action_taken" "text",
    "summon_schedule" timestamp without time zone,
    CONSTRAINT "blotter_records_status_check" CHECK (("status" = ANY (ARRAY['Pending'::"text", 'Active'::"text", 'Settled'::"text", 'Escalated'::"text", 'Dismissed'::"text"])))
);


ALTER TABLE "public"."blotter_records" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."blotters" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "complainant_id" "uuid",
    "complainant_name" "text" NOT NULL,
    "incident_type" "text" NOT NULL,
    "incident_date" timestamp with time zone NOT NULL,
    "location" "text" NOT NULL,
    "respondent_name" "text",
    "narrative" "text" NOT NULL,
    "status" "text" DEFAULT 'Pending Review'::"text",
    "staff_remarks" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."blotters" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."borrowing_records" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "borrower_name" "text" NOT NULL,
    "equipment_id" "uuid",
    "quantity" integer DEFAULT 1 NOT NULL,
    "borrow_date" timestamp with time zone NOT NULL,
    "expected_return" timestamp with time zone NOT NULL,
    "actual_return" timestamp with time zone,
    "status" "text" DEFAULT 'Released'::"text",
    "purpose" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()),
    "damage_notes" "text",
    CONSTRAINT "borrowing_records_status_check" CHECK (("status" = ANY (ARRAY['Pending'::"text", 'Ready to Pickup'::"text", 'Released'::"text", 'Returned'::"text", 'Returned w/ Damage'::"text", 'Damaged'::"text", 'Rejected'::"text"])))
);


ALTER TABLE "public"."borrowing_records" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."document_requests" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "resident_id" "uuid" NOT NULL,
    "template_id" "uuid",
    "request_type" "text" NOT NULL,
    "purpose" "text",
    "status" "text" DEFAULT 'pending'::"text",
    "document_url" "text",
    "gdrive_file_id" "text",
    "processed_by" "uuid",
    "processed_at" timestamp without time zone,
    "processing_notes" "text",
    "released_by" "uuid",
    "released_at" timestamp without time zone,
    "release_notes" "text",
    "created_at" timestamp without time zone DEFAULT "now"(),
    "updated_at" timestamp without time zone DEFAULT "now"(),
    "created_by" "uuid",
    "rejection_reason" "text",
    "storage_path" "text",
    "request_reason" "text",
    "supporting_doc_url" "text",
    "is_duplicate_request" boolean DEFAULT false,
    "expiration_date" "date"
);


ALTER TABLE "public"."document_requests" OWNER TO "postgres";


COMMENT ON TABLE "public"."document_requests" IS 'Document requests from residents';



CREATE TABLE IF NOT EXISTS "public"."document_templates" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "template_name" "text" NOT NULL,
    "template_code" "text" NOT NULL,
    "template_content" "text" NOT NULL,
    "required_fields" "jsonb",
    "is_active" boolean DEFAULT true,
    "created_by" "uuid",
    "updated_by" "uuid",
    "created_at" timestamp without time zone DEFAULT "now"(),
    "updated_at" timestamp without time zone DEFAULT "now"(),
    "description" "text",
    "validity_days" integer DEFAULT 180
);


ALTER TABLE "public"."document_templates" OWNER TO "postgres";


COMMENT ON TABLE "public"."document_templates" IS 'Document templates for barangay certificates';



CREATE TABLE IF NOT EXISTS "public"."equipment_inventory" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "item_name" "text" NOT NULL,
    "category" "text" NOT NULL,
    "total_quantity" integer NOT NULL,
    "available_quantity" integer NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()),
    "damaged_quantity" integer DEFAULT 0,
    CONSTRAINT "equipment_inventory_category_check" CHECK (("category" = ANY (ARRAY['Furniture'::"text", 'Vehicle'::"text", 'Medical'::"text", 'Electronics'::"text", 'Other'::"text"])))
);


ALTER TABLE "public"."equipment_inventory" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid",
    "title" "text" NOT NULL,
    "message" "text" NOT NULL,
    "type" "text" DEFAULT 'info'::"text",
    "is_read" boolean DEFAULT false,
    "action_url" "text",
    "created_at" timestamp without time zone DEFAULT "now"(),
    CONSTRAINT "notifications_type_check" CHECK (("type" = ANY (ARRAY['info'::"text", 'success'::"text", 'warning'::"text", 'error'::"text"])))
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


COMMENT ON TABLE "public"."notifications" IS 'User notifications and alerts';



CREATE OR REPLACE VIEW "public"."pending_requests_view" AS
 SELECT "dr"."id",
    "dr"."request_type",
    "dr"."purpose",
    "dr"."status",
    "dr"."created_at",
    "concat_ws"(' '::"text", "r"."first_name", "r"."middle_name", "r"."last_name") AS "resident_name",
    "r"."mobile_number",
    "r"."email",
    "dt"."template_name"
   FROM (("public"."document_requests" "dr"
     JOIN "public"."residents" "r" ON (("dr"."resident_id" = "r"."id")))
     LEFT JOIN "public"."document_templates" "dt" ON (("dr"."template_id" = "dt"."id")))
  WHERE ("dr"."status" = ANY (ARRAY['pending'::"text", 'processing'::"text"]))
  ORDER BY "dr"."created_at" DESC;


ALTER VIEW "public"."pending_requests_view" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "email" "text" NOT NULL,
    "password_hash" "text" NOT NULL,
    "full_name" "text" NOT NULL,
    "role" "text" NOT NULL,
    "is_active" boolean DEFAULT true,
    "last_login" timestamp without time zone,
    "created_at" timestamp without time zone DEFAULT "now"(),
    "updated_at" timestamp without time zone DEFAULT "now"(),
    "otp_code" "text",
    "is_verified" boolean DEFAULT false,
    "needs_password_change" boolean DEFAULT false,
    "known_devices" "text"[] DEFAULT '{}'::"text"[],
    "current_otp" "text",
    "otp_expiry" timestamp with time zone
);


ALTER TABLE "public"."users" OWNER TO "postgres";


COMMENT ON TABLE "public"."users" IS 'System users with role-based access';



COMMENT ON COLUMN "public"."users"."otp_code" IS 'The 6-digit code sent via EmailJS';



COMMENT ON COLUMN "public"."users"."is_verified" IS 'True if the user has successfully entered their Gmail OTP';



CREATE OR REPLACE VIEW "public"."recent_activity_view" AS
 SELECT "al"."id",
    "al"."action",
    "al"."table_name",
    "al"."created_at",
    "u"."full_name" AS "user_name",
    "u"."role" AS "user_role",
    "al"."ip_address"
   FROM ("public"."audit_logs" "al"
     LEFT JOIN "public"."users" "u" ON (("al"."user_id" = "u"."id")))
  ORDER BY "al"."created_at" DESC
 LIMIT 100;


ALTER VIEW "public"."recent_activity_view" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."system_configs" (
    "key" "text" NOT NULL,
    "value" "text" NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."system_configs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."system_settings" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "setting_key" "text" NOT NULL,
    "setting_value" "text" NOT NULL,
    "setting_type" "text" DEFAULT 'string'::"text",
    "description" "text",
    "updated_by" "uuid",
    "updated_at" timestamp without time zone DEFAULT "now"(),
    CONSTRAINT "system_settings_setting_type_check" CHECK (("setting_type" = ANY (ARRAY['string'::"text", 'number'::"text", 'boolean'::"text", 'json'::"text"])))
);


ALTER TABLE "public"."system_settings" OWNER TO "postgres";


COMMENT ON TABLE "public"."system_settings" IS 'System configuration settings';



CREATE TABLE IF NOT EXISTS "public"."user_sessions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "device_type" "text",
    "device_name" "text",
    "ip_address" "text",
    "location" "text",
    "last_activity" timestamp with time zone DEFAULT "now"(),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_sessions" OWNER TO "postgres";


ALTER TABLE ONLY "public"."announcement_likes"
    ADD CONSTRAINT "announcement_likes_announcement_id_resident_id_key" UNIQUE ("announcement_id", "resident_id");



ALTER TABLE ONLY "public"."announcement_likes"
    ADD CONSTRAINT "announcement_likes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."announcements"
    ADD CONSTRAINT "announcements_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."blocked_devices"
    ADD CONSTRAINT "blocked_devices_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."blotter_records"
    ADD CONSTRAINT "blotter_records_case_number_key" UNIQUE ("case_number");



ALTER TABLE ONLY "public"."blotter_records"
    ADD CONSTRAINT "blotter_records_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."blotters"
    ADD CONSTRAINT "blotters_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."borrowing_records"
    ADD CONSTRAINT "borrowing_records_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."document_requests"
    ADD CONSTRAINT "document_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."document_templates"
    ADD CONSTRAINT "document_templates_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."document_templates"
    ADD CONSTRAINT "document_templates_template_code_key" UNIQUE ("template_code");



ALTER TABLE ONLY "public"."equipment_inventory"
    ADD CONSTRAINT "equipment_inventory_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."residents"
    ADD CONSTRAINT "residents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."system_configs"
    ADD CONSTRAINT "system_configs_pkey" PRIMARY KEY ("key");



ALTER TABLE ONLY "public"."system_settings"
    ADD CONSTRAINT "system_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."system_settings"
    ADD CONSTRAINT "system_settings_setting_key_key" UNIQUE ("setting_key");



ALTER TABLE ONLY "public"."user_sessions"
    ADD CONSTRAINT "user_sessions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_audit_action" ON "public"."audit_logs" USING "btree" ("action");



CREATE INDEX "idx_audit_created_at" ON "public"."audit_logs" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_audit_record" ON "public"."audit_logs" USING "btree" ("record_id");



CREATE INDEX "idx_audit_table" ON "public"."audit_logs" USING "btree" ("table_name");



CREATE INDEX "idx_audit_user" ON "public"."audit_logs" USING "btree" ("user_id");



CREATE INDEX "idx_notifications_created_at" ON "public"."notifications" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_notifications_read" ON "public"."notifications" USING "btree" ("is_read");



CREATE INDEX "idx_notifications_user" ON "public"."notifications" USING "btree" ("user_id");



CREATE INDEX "idx_requests_created_at" ON "public"."document_requests" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_requests_processed_by" ON "public"."document_requests" USING "btree" ("processed_by");



CREATE INDEX "idx_requests_resident" ON "public"."document_requests" USING "btree" ("resident_id");



CREATE INDEX "idx_requests_status" ON "public"."document_requests" USING "btree" ("status");



CREATE INDEX "idx_requests_template" ON "public"."document_requests" USING "btree" ("template_id");



CREATE INDEX "idx_residents_barangay" ON "public"."residents" USING "btree" ("barangay");



CREATE INDEX "idx_residents_created_at" ON "public"."residents" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_residents_first_name" ON "public"."residents" USING "btree" ("first_name");



CREATE INDEX "idx_residents_last_name" ON "public"."residents" USING "btree" ("last_name");



CREATE INDEX "idx_residents_mobile" ON "public"."residents" USING "btree" ("mobile_number");



CREATE INDEX "idx_residents_pwd" ON "public"."residents" USING "btree" ("pwd_status");



CREATE INDEX "idx_residents_qr_code" ON "public"."residents" USING "btree" ("qr_code_data");



CREATE INDEX "idx_residents_senior" ON "public"."residents" USING "btree" ("senior_citizen");



CREATE INDEX "idx_residents_voter" ON "public"."residents" USING "btree" ("voter_status");



CREATE INDEX "idx_settings_key" ON "public"."system_settings" USING "btree" ("setting_key");



CREATE INDEX "idx_templates_active" ON "public"."document_templates" USING "btree" ("is_active");



CREATE INDEX "idx_templates_code" ON "public"."document_templates" USING "btree" ("template_code");



CREATE INDEX "idx_users_active" ON "public"."users" USING "btree" ("is_active");



CREATE INDEX "idx_users_email" ON "public"."users" USING "btree" ("email");



CREATE INDEX "idx_users_email_otp" ON "public"."users" USING "btree" ("email", "otp_code");



CREATE INDEX "idx_users_role" ON "public"."users" USING "btree" ("role");



CREATE OR REPLACE TRIGGER "update_document_requests_updated_at" BEFORE UPDATE ON "public"."document_requests" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_document_templates_updated_at" BEFORE UPDATE ON "public"."document_templates" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_residents_updated_at" BEFORE UPDATE ON "public"."residents" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_users_updated_at" BEFORE UPDATE ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."announcement_likes"
    ADD CONSTRAINT "announcement_likes_announcement_id_fkey" FOREIGN KEY ("announcement_id") REFERENCES "public"."announcements"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."announcement_likes"
    ADD CONSTRAINT "announcement_likes_resident_id_fkey" FOREIGN KEY ("resident_id") REFERENCES "public"."residents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."blocked_devices"
    ADD CONSTRAINT "blocked_devices_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."blotter_records"
    ADD CONSTRAINT "blotter_records_complainant_id_fkey" FOREIGN KEY ("complainant_id") REFERENCES "public"."residents"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."blotters"
    ADD CONSTRAINT "blotters_complainant_id_fkey" FOREIGN KEY ("complainant_id") REFERENCES "public"."residents"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."borrowing_records"
    ADD CONSTRAINT "borrowing_records_equipment_id_fkey" FOREIGN KEY ("equipment_id") REFERENCES "public"."equipment_inventory"("id");



ALTER TABLE ONLY "public"."document_requests"
    ADD CONSTRAINT "document_requests_processed_by_fkey" FOREIGN KEY ("processed_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."document_requests"
    ADD CONSTRAINT "document_requests_released_by_fkey" FOREIGN KEY ("released_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."document_requests"
    ADD CONSTRAINT "document_requests_resident_id_fkey" FOREIGN KEY ("resident_id") REFERENCES "public"."residents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."document_requests"
    ADD CONSTRAINT "document_requests_template_id_fkey" FOREIGN KEY ("template_id") REFERENCES "public"."document_templates"("id");



ALTER TABLE ONLY "public"."document_templates"
    ADD CONSTRAINT "document_templates_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."document_templates"
    ADD CONSTRAINT "document_templates_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."residents"
    ADD CONSTRAINT "residents_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."residents"
    ADD CONSTRAINT "residents_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."system_settings"
    ADD CONSTRAINT "system_settings_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."user_sessions"
    ADD CONSTRAINT "user_sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Allow All Operations for Settings" ON "public"."system_settings" TO "authenticated", "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Allow anon delete on document_templates" ON "public"."document_templates" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete to residents" ON "public"."residents" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete user_sessions" ON "public"."user_sessions" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon insert on document_requests" ON "public"."document_requests" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert on document_templates" ON "public"."document_templates" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert to residents" ON "public"."residents" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert user_sessions" ON "public"."user_sessions" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon read to audit_logs" ON "public"."audit_logs" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on document_requests" ON "public"."document_requests" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on document_templates" ON "public"."document_templates" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select to residents" ON "public"."residents" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select user_sessions" ON "public"."user_sessions" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon update on document_templates" ON "public"."document_templates" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update to residents" ON "public"."residents" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update user_sessions" ON "public"."user_sessions" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anonymous inserts to audit_logs" ON "public"."audit_logs" FOR INSERT TO "authenticated", "anon" WITH CHECK (true);



CREATE POLICY "Allow authenticated read to audit_logs" ON "public"."audit_logs" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Allow delete likes" ON "public"."announcement_likes" FOR DELETE USING (true);



CREATE POLICY "Allow insert likes" ON "public"."announcement_likes" FOR INSERT WITH CHECK (true);



CREATE POLICY "Allow public read access to users for login" ON "public"."users" FOR SELECT TO "authenticated", "anon" USING (true);



CREATE POLICY "Allow read access to likes" ON "public"."announcement_likes" FOR SELECT USING (true);



CREATE POLICY "Anonymous update for document_requests" ON "public"."document_requests" FOR UPDATE TO "authenticated", "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Users can delete own sessions" ON "public"."user_sessions" FOR DELETE USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."announcement_likes" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "audit_insert_all" ON "public"."audit_logs" FOR INSERT TO "authenticated" WITH CHECK (true);



ALTER TABLE "public"."audit_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "audit_select_admin" ON "public"."audit_logs" FOR SELECT TO "authenticated" USING ("public"."is_admin"());



ALTER TABLE "public"."document_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."document_templates" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "notifications_delete_own" ON "public"."notifications" FOR DELETE TO "authenticated" USING (((("user_id")::"text" = ("auth"."uid"())::"text") OR "public"."is_admin"()));



CREATE POLICY "notifications_insert_all" ON "public"."notifications" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "notifications_select_own" ON "public"."notifications" FOR SELECT TO "authenticated" USING (((("user_id")::"text" = ("auth"."uid"())::"text") OR "public"."is_admin"()));



CREATE POLICY "notifications_update_own" ON "public"."notifications" FOR UPDATE TO "authenticated" USING ((("user_id")::"text" = ("auth"."uid"())::"text")) WITH CHECK ((("user_id")::"text" = ("auth"."uid"())::"text"));



CREATE POLICY "requests_delete_admin" ON "public"."document_requests" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "requests_insert_all" ON "public"."document_requests" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "requests_select_all" ON "public"."document_requests" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "requests_update_authorized" ON "public"."document_requests" FOR UPDATE TO "authenticated" USING ("public"."is_admin_or_clerk"()) WITH CHECK ("public"."is_admin_or_clerk"());



CREATE POLICY "residents_delete_admin" ON "public"."residents" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "residents_insert_all" ON "public"."residents" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "residents_insert_authorized" ON "public"."residents" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin_or_record_keeper"());



CREATE POLICY "residents_modify_authorized" ON "public"."residents" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE ((("users"."id")::"text" = ("auth"."uid"())::"text") AND ("users"."role" = ANY (ARRAY['admin'::"text", 'record_keeper'::"text"]))))));



CREATE POLICY "residents_select_all" ON "public"."residents" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "residents_select_authenticated" ON "public"."residents" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "residents_update_authorized" ON "public"."residents" FOR UPDATE TO "authenticated" USING ("public"."is_admin_or_record_keeper"()) WITH CHECK ("public"."is_admin_or_record_keeper"());



CREATE POLICY "settings_delete_admin" ON "public"."system_settings" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "settings_insert_admin" ON "public"."system_settings" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "settings_select_all" ON "public"."system_settings" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "settings_update_admin" ON "public"."system_settings" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."system_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "templates_delete_admin" ON "public"."document_templates" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "templates_insert_admin" ON "public"."document_templates" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "templates_select_all" ON "public"."document_templates" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "templates_update_admin" ON "public"."document_templates" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."user_sessions" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "users_delete_admin" ON "public"."users" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "users_insert_admin" ON "public"."users" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "users_select_all" ON "public"."users" FOR SELECT TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "users_update_admin" ON "public"."users" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "users_update_own" ON "public"."users" FOR UPDATE TO "authenticated" USING ((("id")::"text" = ("auth"."uid"())::"text")) WITH CHECK (((("id")::"text" = ("auth"."uid"())::"text") AND ("role" = ( SELECT "users_1"."role"
   FROM "public"."users" "users_1"
  WHERE (("users_1"."id")::"text" = ("auth"."uid"())::"text")))));





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";






ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."audit_logs";



ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."blotters";



ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."document_requests";



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";

























































































































































GRANT ALL ON FUNCTION "public"."calculate_age"("birth_date" "date") TO "anon";
GRANT ALL ON FUNCTION "public"."calculate_age"("birth_date" "date") TO "authenticated";
GRANT ALL ON FUNCTION "public"."calculate_age"("birth_date" "date") TO "service_role";



GRANT ALL ON FUNCTION "public"."clean_phone_number"("phone" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."clean_phone_number"("phone" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."clean_phone_number"("phone" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."cleanup_old_audit_logs"() TO "anon";
GRANT ALL ON FUNCTION "public"."cleanup_old_audit_logs"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."cleanup_old_audit_logs"() TO "service_role";



GRANT ALL ON FUNCTION "public"."cleanup_old_notifications"() TO "anon";
GRANT ALL ON FUNCTION "public"."cleanup_old_notifications"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."cleanup_old_notifications"() TO "service_role";



GRANT ALL ON FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_title" "text", "p_message" "text", "p_type" "text", "p_action_url" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_title" "text", "p_message" "text", "p_type" "text", "p_action_url" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_title" "text", "p_message" "text", "p_type" "text", "p_action_url" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."format_phone_number"("phone" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."format_phone_number"("phone" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."format_phone_number"("phone" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_qr_data"("resident_uuid" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."generate_qr_data"("resident_uuid" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_qr_data"("resident_uuid" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_dashboard_stats"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_dashboard_stats"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_dashboard_stats"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_demographics"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_demographics"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_demographics"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_full_address"("p_house_number" "text", "p_street" "text", "p_purok" "text", "p_barangay" "text", "p_city_municipality" "text", "p_province" "text", "p_zip_code" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."get_full_address"("p_house_number" "text", "p_street" "text", "p_purok" "text", "p_barangay" "text", "p_city_municipality" "text", "p_province" "text", "p_zip_code" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_full_address"("p_house_number" "text", "p_street" "text", "p_purok" "text", "p_barangay" "text", "p_city_municipality" "text", "p_province" "text", "p_zip_code" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_full_name"("p_first_name" "text", "p_middle_name" "text", "p_last_name" "text", "p_suffix" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."get_full_name"("p_first_name" "text", "p_middle_name" "text", "p_last_name" "text", "p_suffix" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_full_name"("p_first_name" "text", "p_middle_name" "text", "p_last_name" "text", "p_suffix" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_monthly_stats"("p_year" integer, "p_month" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_monthly_stats"("p_year" integer, "p_month" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_monthly_stats"("p_year" integer, "p_month" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_pending_requests_count"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_pending_requests_count"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_pending_requests_count"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_requests_by_status"("p_status" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."get_requests_by_status"("p_status" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_requests_by_status"("p_status" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_resident_by_qr"("qr_data" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."get_resident_by_qr"("qr_data" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_resident_by_qr"("qr_data" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_user_role"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_user_role"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_user_role"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin_or_clerk"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin_or_clerk"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin_or_clerk"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin_or_record_keeper"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin_or_record_keeper"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin_or_record_keeper"() TO "service_role";



GRANT ALL ON FUNCTION "public"."log_activity"("p_user_id" "uuid", "p_action" "text", "p_table_name" "text", "p_record_id" "uuid", "p_details" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."log_activity"("p_user_id" "uuid", "p_action" "text", "p_table_name" "text", "p_record_id" "uuid", "p_details" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."log_activity"("p_user_id" "uuid", "p_action" "text", "p_table_name" "text", "p_record_id" "uuid", "p_details" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."mark_notifications_read"("p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."mark_notifications_read"("p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."mark_notifications_read"("p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."search_residents"("search_query" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."search_residents"("search_query" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."search_residents"("search_query" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_request_status"("p_request_id" "uuid", "p_new_status" "text", "p_user_id" "uuid", "p_notes" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."update_request_status"("p_request_id" "uuid", "p_new_status" "text", "p_user_id" "uuid", "p_notes" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_request_status"("p_request_id" "uuid", "p_new_status" "text", "p_user_id" "uuid", "p_notes" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON FUNCTION "public"."verify_gateway_pin"("input_pin" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."verify_gateway_pin"("input_pin" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."verify_gateway_pin"("input_pin" "text") TO "service_role";


















GRANT ALL ON TABLE "public"."residents" TO "anon";
GRANT ALL ON TABLE "public"."residents" TO "authenticated";
GRANT ALL ON TABLE "public"."residents" TO "service_role";



GRANT ALL ON TABLE "public"."active_residents_view" TO "anon";
GRANT ALL ON TABLE "public"."active_residents_view" TO "authenticated";
GRANT ALL ON TABLE "public"."active_residents_view" TO "service_role";



GRANT ALL ON TABLE "public"."announcement_likes" TO "anon";
GRANT ALL ON TABLE "public"."announcement_likes" TO "authenticated";
GRANT ALL ON TABLE "public"."announcement_likes" TO "service_role";



GRANT ALL ON TABLE "public"."announcements" TO "anon";
GRANT ALL ON TABLE "public"."announcements" TO "authenticated";
GRANT ALL ON TABLE "public"."announcements" TO "service_role";



GRANT ALL ON TABLE "public"."audit_logs" TO "anon";
GRANT ALL ON TABLE "public"."audit_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."audit_logs" TO "service_role";



GRANT ALL ON TABLE "public"."blocked_devices" TO "anon";
GRANT ALL ON TABLE "public"."blocked_devices" TO "authenticated";
GRANT ALL ON TABLE "public"."blocked_devices" TO "service_role";



GRANT ALL ON TABLE "public"."blotter_records" TO "anon";
GRANT ALL ON TABLE "public"."blotter_records" TO "authenticated";
GRANT ALL ON TABLE "public"."blotter_records" TO "service_role";



GRANT ALL ON TABLE "public"."blotters" TO "anon";
GRANT ALL ON TABLE "public"."blotters" TO "authenticated";
GRANT ALL ON TABLE "public"."blotters" TO "service_role";



GRANT ALL ON TABLE "public"."borrowing_records" TO "anon";
GRANT ALL ON TABLE "public"."borrowing_records" TO "authenticated";
GRANT ALL ON TABLE "public"."borrowing_records" TO "service_role";



GRANT ALL ON TABLE "public"."document_requests" TO "anon";
GRANT ALL ON TABLE "public"."document_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."document_requests" TO "service_role";



GRANT ALL ON TABLE "public"."document_templates" TO "anon";
GRANT ALL ON TABLE "public"."document_templates" TO "authenticated";
GRANT ALL ON TABLE "public"."document_templates" TO "service_role";



GRANT ALL ON TABLE "public"."equipment_inventory" TO "anon";
GRANT ALL ON TABLE "public"."equipment_inventory" TO "authenticated";
GRANT ALL ON TABLE "public"."equipment_inventory" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."pending_requests_view" TO "anon";
GRANT ALL ON TABLE "public"."pending_requests_view" TO "authenticated";
GRANT ALL ON TABLE "public"."pending_requests_view" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."recent_activity_view" TO "anon";
GRANT ALL ON TABLE "public"."recent_activity_view" TO "authenticated";
GRANT ALL ON TABLE "public"."recent_activity_view" TO "service_role";



GRANT ALL ON TABLE "public"."system_configs" TO "anon";
GRANT ALL ON TABLE "public"."system_configs" TO "authenticated";
GRANT ALL ON TABLE "public"."system_configs" TO "service_role";



GRANT ALL ON TABLE "public"."system_settings" TO "anon";
GRANT ALL ON TABLE "public"."system_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."system_settings" TO "service_role";



GRANT ALL ON TABLE "public"."user_sessions" TO "anon";
GRANT ALL ON TABLE "public"."user_sessions" TO "authenticated";
GRANT ALL ON TABLE "public"."user_sessions" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































